<div class="card">
  <div class="card-body text-center">
   <%= image_tag(image_url('van.jpg'), class: "image_1", width: "100%", height: "auto") %>
    <h4 class="card-title"></h4>
    <p class="card-text"></p>
    <div class="btn_main row">
      <div class="d-flex justify-content-between">
        <%= link_to "En savoir plus",  van_path(van.id), class:"btn btn-light", role:"button", style:"width= 6em"%>
      </div>
      <div class="text-center">
      </div>
    </div>
  </div>
</div>
