<head>
  <link rel="stylesheet" href="full_index.css">
</head>

<%= render partial: 'layouts/small_banner'%>

<div class="container">
  <div class="row">
    <div class="row-sm-12 col-md-2 col-lg-2" style="border: solid 1px; border-color: green;">
      <div class="filters">
        <%= render partial: 'vans/filter'%>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-10" style="border: solid 1px; border-color: purple;">
      <div class="container">
        <div class="row justify-content-center" style="border: solid 1px; border-color: red;">
          <div class="col-sm-12 col-md-6 col-lg-3" style="display:contents; border: solid 1px; border-color: yellow;">
            <% @visible_vans.sort_by(&:updated_at).reverse.each do |van| %>
              <div class="col-sm-12 col-md-6 col-lg-3" style="display:contents; border: solid 1px; border-color: blue;">
                <%= render partial: 'vans/new_van_card', locals: { van: van}  %>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="col-12 text-center mt-3">
    <%= link_to "Retour à la page d'accueil", vans_path, class:"btn btn-success btn-lg" %>
  </div>
</div>

