<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h2> Ajouter un van </h2>
      <br>
      <%= render partial: 'vans/form', locals: { van: @van}  %>
    </div>
  </div>
</div>
