<%= render partial: 'layouts/small_banner' %>
<main class="container mt-4">
  <h1>Présentation de CaraVan</h1>

  <p>Bienvenue chez CaraVan, votre partenaire de confiance pour la location de vans aménagés ! Nous offrons des solutions flexibles et pratiques pour répondre à vos besoins de voyage et d'aventure.</p><br>

  <h2>Services de Location de Vans Aménagés</h2><br>

  <div class="card-deck">
    <article class="card">
      <div class="card-body">
        <h3 class="card-title text-center text-primary">Option n°1</h3>
        <h4 class="card-title text-center text-primary">Louer un van CaraVan</h4>
        <p>Découvrez notre flotte de vans aménagés de <strong class="text-secondary">qualité professionnelle.</strong> Nous proposons une sélection de vans <strong class="text-secondary">modernes, sûrs et confortables</strong> pour rendre votre expérience de voyage inoubliable. Que vous soyez un couple, une famille ou un groupe d'amis, nos vans sont adaptés à tous les types de voyageurs. Profitez de fonctionnalités pratiques telles que la cuisine équipée, les lits confortables et l'espace de rangement astucieux. Réservez dès maintenant pour votre prochaine aventure avec CaraVan !</p>
      </div>
    </article>
    <article class="card">
      <div class="card-body">
        <h3 class="card-title text-center text-primary">Option n°2</h3>
        <h4 class="card-title text-center text-primary">Location entre Particuliers</h4>
        <p>Chez CaraVan, nous croyons en la <strong class="text-secondary">communauté</strong> et en l'échange. Nous offrons également la possibilité aux propriétaires de vans aménagés de les mettre en location sur notre plateforme. Si vous possédez un van et souhaitez le partager avec d'autres amateurs de voyages, <strong class="text-secondary">vous pouvez le proposer à la location sur notre site.</strong> C'est un moyen idéal de rentabiliser votre van lorsque vous ne l'utilisez pas, tout en permettant à d'autres de vivre des expériences uniques.</p>
      </div>
    </article>
  </div><br>

  <p>Que vous choisissiez de louer un van dans notre flotte ou de mettre le vôtre en location, CaraVan vous accompagne tout au long du processus de réservation. Nous nous engageons à fournir un service client de qualité, des options de location flexibles et des vans aménagés de première classe.</p>

  <p class="lead text-secondary">Planifiez votre prochaine escapade en van avec CaraVan et embarquez pour des aventures sans limites !</p><br><br><br>

  <figure class="d-flex align-items-center justify-content-center">
    <%= image_tag('banner2.jpg', alt: 'Photo de deux vans', style:"width: 50%; height: auto; object-fit: cover;") %>
  </figure><br><br>
</main>
