<%= render partial: 'layouts/small_banner' %>
<div class="container mt-4">
  <h1>Contact</h1>

  <p>Pour nous contacter, veuillez envoyer un e-mail à l'adresse suivante :</p>
  <p><a href="mailto:cara_van_ink@proton.me">cara_van_ink@proton.me</a></p>

  <p>Merci de votre intérêt pour CaraVan ! Nous vous répondrons dans les plus brefs délais.</p>
</div>
