<%= render partial: 'layouts/small_banner'%>

<div class="container">
  <h1>FAQ - Location de Vans</h1><br>

  <div class="question">
    <h5 class="text-primary">1. Comment fonctionne la location de van dans la flotte professionnelle de CaraVan ?</h5>
  </div>
  <div class="answer">
    <p>
      La location de vans dans notre flotte professionnelle est simple. Vous pouvez parcourir notre sélection de vans disponibles, choisir celui qui correspond à vos besoins, sélectionner les dates de location et effectuer votre réservation en ligne. Une fois la réservation confirmée, vous pourrez venir récupérer le van à notre agence aux heures convenues.
    </p>
  </div>

  <div class="question">
    <h5 class="text-primary">2. Quelles sont les conditions pour louer un van entre particuliers sur notre plateforme ?</h5>
  </div>
  <div class="answer">
    <p>
      Comme pour la location de van profesionnel, vous pouvez parcourir les annonces de vans disponibles à la location, choisir celui qui correspond à vos besoins, sélectionner les dates de location et effectuer votre réservation en ligne. Les conditions spécifiques, les modalités de récupération et de retour du van seront définis avec le propriétaire, dont l'email vous sera envoyé après la réservation.
    </p>
  </div>

  <div class="question">
    <h5 class="text-primary">3. Quelles sont les assurances incluses dans la location de van ?</h5>
  </div>
  <div class="answer">
    <p>
      Pour la location de van dans la flotte professionnelle de CaraVan, une assurance tous risques est incluse. Elle couvre les dommages au véhicule et offre une assistance en cas de panne ou d'accident. En revanche, pour la location entre particuliers, les assurances peuvent varier en fonction des propriétaires. Nous vous encourageons à lire attentivement les descriptions de van avant de finaliser la location.
    </p>
  </div>

  <div class="question">
    <h5 class="text-primary">4. Comment puis-je payer ma location de van ?</h5>
  </div>
  <div class="answer">
    <p>
      Pour la location de van dans la flotte professionnelle de CaraVan, comme entre particuliers, le paiement se fait en ligne lors de la réservation. Vous pouvez utiliser différentes méthodes de paiement sécurisées, telles que les cartes de crédit ou les services de paiement en ligne. 
    </p>
  </div>

  <div class="question">
    <h5 class="text-primary">5. Que faire en cas de problème pendant la location ?</h5>
  </div>
  <div class="answer">
    <p>
      Si vous rencontrez un problème pendant la location d'un van dans notre flotte professionnelle, veuillez nous contacter immédiatement. Nous ferons de notre mieux pour résoudre la situation rapidement et vous offrir une expérience de location agréable. Pour la location entre particuliers, veuillez contacter directement le propriétaire du van pour discuter du problème et trouver une solution amiable.
    </p>
  </div>

  <div class="question">
    <h5 class="text-primary">6. Comment proposer mon van à la location sur votre plateforme ?</h5>
  </div>
  <div class="answer">
    <p>
      En tant qu'utilisateur de CaraVan, vous pouvez à tout moment proposer votre van à la location à partir de votre page Profil, onglet "Mon véhicule". Lors d'une réservation, vous serez informer par email et les coordonnées du client vous seront envoyés afin que vous puissiez organiser avec lui les modalités de récupération du van. Le paiment sera automatiquement réalisé par CaraVan à la fin de la location client.
    </p>
  </div>
</div>
