<%= render partial: 'layouts/small_banner'%>
<div class="container">
  <h1>Modalités légales</h1>

  <h3>Location de van professionnels BtoC</h3>
  <p>Notre plateforme en ligne de location de van vous permet de réserver des vans professionnels pour un usage BtoC (Business-to-Consumer). En utilisant notre service, vous acceptez de vous conformer aux <%= link_to "conditions d'utilisation", static_pages_terms_of_use_path%>. Veuillez consulter nos conditions générales pour plus d'informations sur les droits et responsabilités des utilisateurs.</p>

  <h3>Location de van entre particuliers CtoC</h3>
  <p>Notre plateforme facilite également la location de van entre particuliers pour un usage CtoC (Consumer-to-Consumer). Les utilisateurs peuvent proposer leurs vans à la location et les autres utilisateurs peuvent les réserver. Nous ne sommes pas partie prenante dans les transactions entre les utilisateurs et déclinons toute responsabilité liée aux échanges entre particuliers. Nous vous encourageons à lire attentivement nos conditions générales d'utilisation avant de procéder à une réservation.</p>

  <h3>Gestion des données privées</h3>
  <p>Nous attachons une grande importance à la protection de vos données privées. Conformément à la législation en vigueur en France, nous collectons, utilisons et stockons vos données personnelles de manière sécurisée et confidentielle. Nous ne partageons vos informations personnelles qu'avec les tiers nécessaires à la réalisation des services de location de van, tels que les propriétaires de vans et les prestataires de paiement.</p>
  <p>Nous nous engageons à respecter vos droits en matière de protection des données, notamment votre droit d'accès, de rectification et de suppression de vos données personnelles. Vous pouvez consulter notre <%= link_to "politique de confidentialité", static_pages_privacy_policy_path%> pour en savoir plus sur la collecte, l'utilisation et la conservation de vos données.</p>
</div>