<%= render partial: 'layouts/small_banner'%>
<section class="container mt-4">
  <h1>Politique de confidentialité</h1>
  <p>Nous accordons une grande importance à la protection de vos données personnelles. Cette politique de confidentialité vous informe sur la collecte, l'utilisation et la divulgation de vos données personnelles lorsque vous utilisez notre plateforme de location de van.</p>

  <article>
    <h3>Collecte des données</h3>
    <p>Lors de votre utilisation de notre plateforme, nous pouvons collecter les données personnelles suivantes : nom, adresse e-mail, informations de paiement, informations sur votre utilisation de notre plateforme et toute autre information que vous nous fournissez volontairement.</p>
  </article>

  <article>
    <h3>Utilisation des données</h3>
    <p>Nous utilisons les données collectées pour fournir, maintenir et améliorer notre service de location de van. Cela peut inclure la réservation de vans, la communication avec les utilisateurs, le traitement des paiements, l'analyse des données pour améliorer nos services et répondre à vos demandes.</p>
  </article>

  <article>
    <h3>Divulgation des données</h3>
    <p>Nous pouvons partager vos données personnelles avec des tiers dans les cas suivants : pour fournir nos services de location de van, pour se conformer aux lois et réglementations applicables, pour protéger nos droits et notre sécurité, pour répondre à une demande légale ou judiciaire.</p>
  </article>

  <article>
    <h3>Conservation des données</h3>
    <p>Nous conservons vos données personnelles aussi longtemps que nécessaire pour atteindre les finalités pour lesquelles elles ont été collectées, sauf si une période de conservation plus longue est requise ou autorisée par la loi.</p>
  </article>

  <article>
    <h3>Vos droits</h3>
    <p>Vous avez le droit d'accéder, de rectifier, de supprimer et de limiter l'utilisation de vos données personnelles. Vous pouvez exercer ces droits en nous contactant à travers les coordonnées fournies ci-dessous.</p>
  </article>

  <article>
    <h3>Sécurité des données</h3>
    <p>Nous mettons en place des mesures de sécurité appropriées pour protéger vos données personnelles contre tout accès non autorisé, toute modification, toute divulgation ou toute destruction.</p>
  </article>

  <article>
    <h3>Modification de la politique</h3>
    <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications prendront effet dès leur publication sur notre site web. Nous vous encourageons à consulter régulièrement cette politique pour rester informé des éventuelles mises à jour.</p>
  </article>

    <p>Pour toute question concernant notre politique de confidentialité, veuillez nous contacter à l'adresse suivante : cara_van_ink@proton.me</p>

</section>
