<%= render partial: 'layouts/small_banner'%>
<div class="container">
  <h1>Rencontrez l'équipe CaraVan</h1><br>

  <div class="team-member">
    <h3 class="text-primary"><b>Solène</b> - Bilbo le Hobby</h3>
    <p>
      Notre experte du chinois, du pétillant de sureau, du tricot et accordéon. Elle jongle avec les fils de laine tout en composant des mélodies enjouées sur son accordéon. Quand elle n'apprend pas une nouvelle langue, vous la trouverez sûrement en train de concocter une nouvelle recette exotique ou de confectionner des chaussettes colorées pour ses amis.
    </p>
  </div>

  <div class="team-member">
    <h3 class="text-secondary"><b>Alexis</b> - Dormeur Extraordinaire</h3>
    <p>
    Alexis est notre spécialiste du sommeil. Il peut dormir n'importe où, n'importe quand. Pendant ses heures de veille, vous le trouverez souvent en train de dévorer un bol de riz blanc, son plat préféré, qui lui procure une énergie tranquille et apaisante.
    En tant que survivant de la piscine de 42, surnommée le Hunger Game du code, Alexis est prêt à relever tous les défis en matière de programmation.
    En dehors du monde numérique, Alexis est un expert en escalade, capable de gravir des montagnes virtuelles comme réelles.
  </p>
  </div>

  <div class="team-member">
    <h3 class="text-primary"><b>Antoine</b> - Le Maître des Secours et Regex</h3>
    <p>
      Antoine est notre héros multitâche. Il jongle entre son rôle de secouriste santé et ses compétences en informatique. Sa maîtrise des expressions régulières (Regex) est légendaire. Il peut résoudre les problèmes les plus complexes avec une seule ligne de code. En cas d'urgence, Antoine est toujours prêt à intervenir, que ce soit pour soigner une blessure ou déboguer un programme.
    </p>
  </div>

  <div class="team-member">
    <h3 class="text-secondary"><b>Adrien</b> - L'Élégant de la Casquette</h3>
    <p>
      Adrien, notre inconditionnel de la casquette, est toujours prêt à relever les défis. Avec son style unique, il apporte une touche d'élégance partout où il va. Bien qu'il soit sédentaire par défaut en raison de sa voiture cassée et de son ordinateur non mobile, il trouve toujours des moyens ingénieux de résoudre les problèmes et de garder notre équipe en mouvement.
    </p>
  </div>

  <div class="team-member">
    <h3 class="text-primary"><b>Laurie</b> - La Gardienne des Séden-Trains</h3>
    <p>
      Laurie, surnommée La GOT (Génie de l'Ordinateur dans les Trains), parle couramment en chaine d'ADN. Elle excelle dans le travail en mouvement, se balançant entre les wagons de train tout en résolvant des énigmes informatiques complexes. Sa passion pour les voyages en train se reflète dans sa créativité et sa capacité à rester concentrée, même lors des trajets les plus agités.
    </p>
  </div>

  <div class="team-member">
  <h3 class="text-secondary"><b>Mousse</b> - Le Maître de la Détente</h3>
  <p>
    En tant que félin officiel de l'entreprise, Mousse apporte une touche de charme félin et de tranquillité à l'équipe de CaraVan.
    Avec ses siestes régulières et ses étirements gracieux, Mousse est une experte en relaxation. Elle sait instinctivement quand l'équipe a besoin d'une pause et elle se charge de répandre sa zen attitude en ronronnant joyeusement.
    En dehors de son travail de détente, Mousse est également une amatrice de jeux de balles et de plumes.
  </p>
</div>

</div>
