<%= render partial: 'layouts/small_banner'%>
<main class="container mt-4">
  <h1>Conditions générales d'utilisation</h1>

  <article>
    <h3>Acceptation des conditions</h3>
    <p>En utilisant notre plateforme de location de van, vous acceptez les présentes conditions générales d'utilisation. Veuillez les lire attentivement avant d'utiliser nos services. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre plateforme.</p>
  </article>

  <article>
    <h3>Éligibilité</h3>
    <p>Vous devez avoir au moins 18 ans et disposer de la capacité légale pour utiliser notre plateforme. En créant un compte, vous garantissez que toutes les informations fournies sont véridiques, complètes et à jour.</p>
  </article>

  <article>
    <h3>Responsabilités des utilisateurs</h3>
    <p>Vous êtes responsable de l'utilisation de notre plateforme et de toute activité liée à votre compte. Vous vous engagez à respecter toutes les lois et réglementations applicables lors de l'utilisation de nos services.</p>
  </article>

  <article>
    <h3>Réservation et paiement</h3>
    <p>La réservation d'un van se fait en fonction de la disponibilité. Les tarifs, les modalités de paiement et les conditions d'annulation sont clairement indiqués lors de la réservation. Vous êtes responsable du paiement des frais liés à la location du van.</p>
  </article>

  <article>
    <h3>Annulation et remboursement</h3>
    <p>Les conditions d'annulation et de remboursement varient en fonction des propriétaires de van. Veuillez vous référer aux conditions spécifiques indiquées lors de la réservation. En cas d'annulation, des frais d'annulation peuvent s'appliquer.</p>
  </article>

  <article>
    <h3>Propriété intellectuelle</h3>
    <p>Tous les droits de propriété intellectuelle relatifs à notre plateforme et à son contenu restent notre propriété ou celle de nos partenaires. Vous n'êtes pas autorisé à reproduire, modifier ou distribuer notre contenu sans notre consentement préalable.</p>
  </article>

  <article>
    <h3>Limitation de responsabilité</h3>
    <p>Nous ne pouvons être tenus responsables des dommages directs, indirects, spéciaux, consécutifs ou punitifs résultant de l'utilisation de notre plateforme de location de van.</p>
  </article>

  <article>
    <h3>Modification des conditions</h3>
    <p>Nous nous réservons le droit de modifier les présentes conditions générales d'utilisation à tout moment. Les modifications seront publiées sur notre site web. Il est de votre responsabilité de consulter régulièrement ces conditions pour vous tenir informé des éventuelles mises à jour.</p>
  </article>
</main>
