<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenue sur CaraVan</title>
</head>
<body>
  <header>
    <h1>Bienvenue sur CaraVan !!!</h1>
  </header>
  <main>
    <p>Bonjour,</p>

    <p>Nous sommes ravis de vous accueillir sur notre plateforme de réservation de vans. En tant que nouvel-le utilisateur-ice, vous avez désormais accès à une vaste sélection de vans pour rendre vos voyages encore plus excitants et mémorables.</p>

    <section>
      <h2>Points importants à connaître :</h2>

      <ul>
        <li>Explorez notre catalogue de vans et trouvez celui qui correspond le mieux à vos besoins et à votre style.<br>Deux types de vans sont disponibles : ceux loués par des utilisateur-ices et ceux loués par CaraVan.</li>
        <li>Si vous possédez un van, vous pouvez aussi le proposer à la location sur notre plateforme de manière sécurisée.</li>
        <li>Nous nous efforçons de fournir un service client de qualité. N'hésitez pas à nous contacter si vous avez des questions ou des préoccupations.</li>
      </ul>
    </section>

    <p>Nous espérons que vous apprécierez notre plateforme. Que ce soit pour une aventure en plein air, un road trip ou une escapade spontanée, nous sommes là pour vous aider à réaliser vos projets de voyage.</p>

    <p>Si vous avez besoin d'assistance supplémentaire, n'hésitez pas à nous contacter. Notre équipe est là pour vous aider à chaque étape.</p>

    <p>Encore une fois, bienvenue et bonnes aventures !</p>

    <p>Cordialement,</p>
    <p>L'équipe de CaraVan</p>
  </main>
</body>
</html>
