<div class="container text-center my-5"> 
  <h1>Succès</h1> 
  <p>Nous avons bien reçu votre paiement de <%= number_to_currency(@payment_intent.amount_received, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.</p> 
  <p>Le statut de votre paiement est : <%= @payment_intent.status %>.</p> 
</div>
