<section class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <h1>Modifier le produit</h1>
      <%= render partial: 'admins/vans/form', locals: { van: @van}  %>
    </div>
  </div>
</section>
