<head>
  <link rel="stylesheet" href="viewsadmin.css">
</head>

  <div class="container">
    <hr>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item col">
        <a class="nav-link active" data-bs-toggle="tab" href="#vehicles" aria-selected="true" role="tab">Vans</a>
      </li>
      <li class="nav-item col">
        <a class="nav-link" data-bs-toggle="tab" href="#rents" aria-selected="false" role="tab">Reservations</a>
      </li>
      <li class="nav-item col">
        <a class="nav-link" data-bs-toggle="tab" href="#users" aria-selected="false" role="tab">Utilisateurs</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active show" id="vehicles" role="tabpanel">
        <br><br>
        <%#Vans%>
        <div class="text-center">
          <h2> Véhicules </h2>
        </div>
          <% 1.times do %>
            <% current_user.vans.each do |van| %>
              <%= render partial: 'admins/vans/vans', locals: { myvan: van } %>
            <% break %>
          <% end %>
        <% end %>      
      </div>
        <%#Réservations%>

      <div class="tab-pane fade" id="rents" role="tabpanel">
        <br><br>
        <div class="text-center">
          <h2> Réservations </h2>
        </div>
          <% 1.times do %>
            <% current_user.vans.each do |van| %>
              <%= render partial: 'admins/orders/orders', locals: { myvan: van } %>
            <% break %>
          <% end %>
        <% end %>      
      </div>
        <%#Utilisateurs%>

      <div class="tab-pane fade" id="users" role="tabpanel">
        <br><br>
        <div class="text-center">
          <h2> Utilisateurs </h2>
        </div>
          <% 1.times do %>
            <% current_user.vans.each do |van| %>
              <%= render partial: 'admins/users/users', locals: { myvan: van } %>
            <% break %>
          <% end %>
        <% end %>      
      </div>
    </div>
  </div>

  