<link rel="stylesheet" href="viewsadmin.css">

<main class="container ">
  <section class="table-responsive">
    <table class="table table-striped">
      <thead class="bg-primary text-white">
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Date d'inscription</th>
          <th>Statut</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.sort.reverse.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime('%Y-%m-%d')[0..9] %></td>
            <td>
              <% if user.is_admin %>
                admin
              <% else %>
                user
              <% end %>
            </td>
            <td><%= button_to "Modifier", edit_admins_user_path(user), method: :get, class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</main>
