<head>
<link rel="stylesheet" href="viewsadmin.css">
</head>


<body style="background-color:#a6d7c9">
  <div class="center-screen">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <%= link_to "Administrateur", admins_vans_path , class: "btn btn-primary custom-btn d-flex justify-content-center align-items-center", style: "margin-right:150px" %>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center separator">
          <%= link_to "Propriétaire", admins_admins_path , class: "btn btn-primary custom-btn d-flex justify-content-center align-items-center", style: "margin-left:150px" %>
        </div>
      </div>
    </div>
  </div>
</body>