<p>Bienvenue <%= @email %>!</p>

<p>Confirme ton adresse email en cliquant sur le lien suivant :</p>

<p><%= link_to 'Confirmer mon email', confirmation_url(@resource, confirmation_token: @token) %></p>
