<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons afin de vous confirmer que votre adresse email est en cours de modification.</p>
  <p>Nouvel email : <%= @resource.unconfirmed_email %>.
<% else %>
  <p>Nous vous contactons afin de vous confirmer que votre adresse email a été modifiée.</p>
  <p>Nouvel email : <%= @resource.email %>.
<% end %>
