<html>
  <div style="background-image: url(https://image.noelshack.com/fichiers/2023/24/3/1686777651-banner6.jpg); background-repeat: no-repeat;
  background-size: cover; width:100%; height:80vh;">

    <div class="container text-align-left" >
        <h4 class="display-3 pt-4" style="color: grey; font-weight: bold" >Bienvenue</h4>
        <h4 class="display-5 pt-4" style="color: grey"> chez <h4>
        <h1 class="display-4 pt-4" style="color: grey; font-weight: bold"> CaraVan <h1>
    </div>
  </div>
</html>
