<div class="container" style="margin-top:37px;">
  <% flash.each do |category, msg| %>
    <% if category == "alert" %>
      <div class="alert alert-dismissible alert-danger">
        <% if msg.class == Array %>
          <% msg.map{|one_msg|one_msg.split("-").last.strip}.each do |one_msg|%>
            <p class="mb-0"> <%=one_msg.to_s%> </p>
          <% end%>
        <% else %>
          <%= msg %>
        <% end %>
      </div>
    <% else %>
      <% if category == "info" %>
        <div class="alert alert-dismissible alert-info">
          <p class="mb-0"> <%= msg %> </p>
        </div>
      <% else %>
        <% if category == "success" %>
          <div class="alert alert-dismissible alert-success">
            <p class="mb-0"> <%= msg %> </p>
          </div>
        <% else %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

