<html>
  <div style="background-image: url(https://image.noelshack.com/fichiers/2023/23/4/1686216860-test.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">

    <div class="container p-4">
      <h1 class="display-10">Chat farte ?!</h1>
      <p class="p" style="font-size:18px">Une célèbre légende conseille d'acheter des images de chats afin d'accèder au bonheur, alors lance toi !
      </p>
    </div>
  </div>
</html>